PORT=9208
BASE_PATH=/superfighters/
VITE_BASE_PATH=/superfighters/
GECKOS_UDP_MIN=20000
GECKOS_UDP_MAX=20000
PUBLIC_ORIGIN=*

VPS_HOST=45.77.204.19
VPS_USER=root
VPS_PORT=22
VPS_APP_DIR=/opt/superfighters
